.footer{
    height: 60vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_content{
    height: 80%;
    width: 65%;
    display: grid;
    grid-template-rows: 80% 10% 10%;
    grid-template-columns: 15% 50% 35%;
}
.footer_logo{
    grid-area: 1/1/2/2;
}
.flogo{
    height: 2.5rem;
    width: 8rem;
}
.footer_grid{
    grid-area: 1/2/2/3;
}
.footer_handles{
    grid-area: 1/3/2/4;
    display: flex;
    justify-content: flex-end;
}
.social{
    font-size: 1.5rem;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(40, 40, 40);
    padding: 10px;
    margin: 8px;
    color: #ffffff;
}
.social:hover{
    color: rgb(48, 150, 48);
    cursor: pointer;
}
.footer_language{
    grid-area: 2/1/3/4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 0.6rem;
    color: rgb(195, 193, 193);
}
.footer_info{
    grid-area: 3/1/4/4;
    display: flex;
    font-size: 0.6rem;
    color: rgb(195, 193, 193);
    justify-content: space-between;
}
.f-info_left{
    height: 100%;
    width: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.f-info_right{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.hg:hover{
    color: rgb(48, 159, 48);
    cursor: pointer;
}