.footer{
    height: auto;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_content{
    height: 80%;
    margin: 3rem 4rem;
    width: 50rem;
    display: flex;
    flex-direction: column;
}
.footer_top{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.flogo{
    height: 2.1rem;
    width: 7rem;
}
.footer_main{
    display: flex;
    justify-content: space-between;
    width: 30rem;
}
.footer_sub{
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.sub_head{
    font-size: 0.6rem;
    margin: 1rem 0px;
    padding: 0px 3px;
    color: rgb(195, 193, 193);;
    
}
.sub_head_items{
    font-size: 0.7rem;
    margin: 12px 0px;
    color: #ffffff;
    padding: 0px 3px;
}
.sub_head_items:hover{
    cursor: pointer;
    color: rgb(48, 150, 48);
}
.footer_handles{
    display: flex;
    justify-content: flex-end;
}
.social{
    font-size: 1.2rem;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(40, 40, 40);
    padding: 10px;
    margin: 8px;
    color: #ffffff;
}
.social:hover{
    color: rgb(48, 150, 48);
    cursor: pointer;
}
.footer_language{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 0.6rem;
    color: rgb(195, 193, 193);
}
.footer_info{
    display: flex;
    font-size: 0.6rem;
    color: rgb(195, 193, 193);
    justify-content: space-between;
}
.f-info_left{
    height: 100%;
    width: 20rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.f-info_right{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.hg:hover{
    color: rgb(48, 159, 48);
    cursor: pointer;
}