
.main{
    background-color: black;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left{
    height: 85%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.logo{
    width: 7rem;
    height: 2rem;
    cursor: pointer;
}
.right{
    height: 85%;
    width: 30%;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.8rem;
}
.items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile{
    font-size: 2rem;
}
.items:hover{
    color: green;
    cursor: pointer;
}